In [153]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
data_file = "Resources/Data/purchase_data.csv"
data_file_pd=pd.read_csv(data_file)

In [154]:
# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(data_file)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [155]:
total_count = len(purchase_data_df["SN"].unique())
total_count

576

## Player Count

In [156]:
my_dict={"total players":[576]}
my_df=pd.DataFrame(my_dict)
my_df

   total players
0            576

* Display the total number of players

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [157]:
purchase_data_df
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [158]:
#Average Purchase Price

average=purchase_data_df["Price"].mean()

average

3.050987179487176

In [159]:
#Number of Unique Items
unique_items = len(purchase_data_df['Item ID'].value_counts())

unique_items

183

In [160]:
#Total Number of Purchases
total_purchases = purchase_data_df['Item Name'].count()
total_purchases

780

In [161]:
#Total Revenue
total_revenue = purchase_data_df['Price'].sum()
total_revenue

2379.77

In [162]:
#Create DataFrame
data_file = pd.DataFrame({"Number of Unique Items": [unique_items],
                                   "Average Price": [average],
                                   "Total Purchases": [total_purchases],
                                   "Total Revenue": [total_revenue],
                                     
                                    })
data_file

   Number of Unique Items  Average Price  Total Purchases  Total Revenue
0                     183       3.050987              780        2379.77

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [163]:
#gender count

gender_count =data_file_pd.groupby("Gender")["SN"].nunique()


gender_count

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: SN, dtype: int64

In [164]:
#gender percentage
gender_pct = gender_count/576
gender_per = gender_pct.mul(100).round(2).astype(str) + '%'

gender_per

Gender
Female                   14.06%
Male                     84.03%
Other / Non-Disclosed     1.91%
Name: SN, dtype: object

In [176]:




#Percentage and Count of Players
total_count = data_file_pd.groupby("Gender")["SN"].nunique()
percentage = gender_pct.mul(100).round(2).astype(str) + '%'


#Create new dataframe
final_gender = pd.DataFrame({"Percentage of Players": percentage,
                            "Count":total_count})



final_genders

,Percentage of Players,Count
0,Gender Female 14.06% Male ...,Gender Female 81 Male ...

In [170]:
Purchasing Analysis (Gender)





#Purchase Count
purchase_count = unique_df["Gender"].value_counts()
purchase_count

1    3
Name: Gender, dtype: int64

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80